html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

span.mat-mdc-list-item-unscoped-content.mdc-list-item__primary-text {
    font-size: 13px;
}

mat-toolbar.mat-toolbar.mat-primary.mat-toolbar-single-row {
    height: 40px;
}